page-login {
   .picture{
    width: 200px;  
    margin: auto auto;
    margin-top: 100px;
    display: block;
    
   }
  //  .content{
  //      background-color: skyblue;

  //  }
   ion-content{
     background: url("../blackc.jpg") no-repeat center;

   }
   
   .create{
    font-weight: bold;   
    color: white;
    width: 80%;
    letter-spacing: 1.5px;
    background-color:rgb(53, 226, 71);
    margin-top: 30px;
   }
   
   .already{
    color: white;
    margin-top: 7px;
        
    }

   .login{
    font-weight: bold;   
    color: black;
    width: 80%;
    letter-spacing: 1.5px;
    background-color:white;
    margin-top: 7px;
    
    }

    .tutorial-page {
        
        //   .toolbar-background {
        //     background: #fff;
        //     border-color: transparent;
        //   }
        
        //   .slide-zoom {
        //     height: 100%;
        //   }
        
          .slide-title {
            margin-top: 2.8rem;
            color: white;
            font-size:20px; 
          }
        
        //   .slide-image {
        //     max-height: 50%;
        //     max-width: 60%;
        //     margin: 18px 0;
        //   }
        
          b {
            font-weight: 500;
          }
        
          p {
            padding: 0 40px;
            font-size: 14px;
            line-height: 1.5;
            color: white;
        
            b {
              color: #000000;
            }
          }
        
        }

    
    }

