<!--
  Generated template for the FindfriendsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="toolbar">
        <ion-title>Find Friends</ion-title>
    </ion-navbar>
    <ion-toolbar mode="md" color="dark">
        <ion-segment mode="md" [(ngModel)]="selectedTab" color="secondary">
            <ion-segment-button value="friend">
                <div class="text">FRIENDS</div>
            </ion-segment-button>
            <ion-segment-button value="featured">
                <div class="text">FEATURED</div>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>


<ion-content text-center class="ion-content" fullscreen>
    <span *ngIf="selectedTab=='friend'">
        <button class=" buttonFriend" ion-button round medium (click)="follow(amountFriend)">
            <div class="textFriend">
                FOLLOW ALL ({{amountFriend}})
            </div>
        </button>
        <ion-searchbar placeholder="Filter" showCancelButton (ionInput)="searchFriend($event)"></ion-searchbar>

        <ion-list *ngIf="!isFiltered" no-lines>
            <ion-item *ngFor="let pointer of friendLists">
                <ion-avatar item-start>
                    <img src="{{pointer.image}}.jpg">
                </ion-avatar> {{pointer.name}}
            </ion-item>
        </ion-list>

        <ion-list *ngIf="isFiltered" no-lines>
            <ion-item *ngFor="let pointer of filterFriend">
                <ion-avatar item-start>
                    <img src="{{pointer.image}}.jpg">
                </ion-avatar> {{pointer.name}}
            </ion-item>
        </ion-list>
    </span>

    <span *ngIf="selectedTab=='featured'">

        <ion-list no-lines>
            <ion-item *ngFor="let pointer of featuredLists">
                <ion-avatar item-start>
                    <img src="{{pointer.image}}.jpg">
                </ion-avatar> {{pointer.name}}
            </ion-item>
        </ion-list>

    </span>

</ion-content>

<ion-footer>
    <ion-toolbar color="dark" class="footer">
      <ion-buttons class="button" (click)="modalsTapped()">
        <button ion-button icon-right>
            <ion-icon  name="arrow-up" class="buttonColor"></ion-icon>
          </button>
      </ion-buttons>
  
      <ion-title class="position" (click)="modalsTapped()">
        <ion-slides>
          <ion-slide>
            <div class="song">
              Songs -
              <p class="artist">Artists</p>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="song">
              Songs2 -
              <p class="artist">Artists2</p>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-title>
  
      <ion-buttons end>
        <button ion-button ion-left (click)="changeButton()">
              <img class="imgicon" [src]="status? 'pause-button.png':'play-button.png'"> 
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>