page-findfriends {
    .text{
        color: white;
        font-size: 14px;
        letter-spacing: 0.03cm;

    }
    .buttonFriend{   
        margin-top: 7px;
        text-align: center;
        background-color: #575353;
        // opacity: 0.5;
        font-weight: bold;
        width: 60%;
        height: 8%;
        color: white;
        
        
    }

    .ion-content{
        background-color: black;
        color: white;
    }

}
