page-loginface {
    .fb{
        font-weight: bold;
        background-color:#3B5998;
        color: white;
        width: 80%;
        margin-top: 15px;
        letter-spacing: 1.5px;

    }
    .content{
        background-color: black;
    }
    .or{
        font-size: 15px;
        color: white;
        opacity: 0.8;
        margin-top: 10px;
        margin-bottom: 15px; 
    }

    .login{
        font-weight: bold;   
        color: white;
        width: 50%;
        letter-spacing: 1.5px;
        background-color:#4BD35A;
        margin-top: 25px;
        opacity: 0.6;
        
    }

    .forgot{
        font-size: 15px;
        color: white;
        opacity: 0.8;
        margin-top: 25px;
        
    }

    .padding{
        margin: auto auto;
        width: 90%;
        color: white;
        background-color: rgb(54, 54, 54);
        opacity: 0.9;
    }

}
