page-search {
    .ion-content{
    background-color: black;
    color: white;
 
    }

    .picture{
        width:80px;
        height:80px;
        position:fixed;
        top:45%;
        left:48%;
        margin-left:-40px;
        margin-top:-40px;
        opacity: 0.5;
    }
    .divtext{
        padding-top: 230px; 
    }
    .text{
        font-size: 15px;
        text-align: center;
        letter-spacing: 0.03cm;
        margin-top: 18%;
    }
    .text2{
        font-size: 13px;
        
        opacity: 0.5;
        text-align: center;
    }
    .showResult{
        color: white;
        background-color: black;
    }
    .result{
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    .img{
        width: 35px;
        height: 35px;
    }
    .opacity{
        opacity: 0.99;
    }
    .item{
        padding-left: 16px;
        border-radius: 0;
        position: relative;
        font-size: 16px;;
        font-weight: 500;
        color: #fdfdfd;
        background-color: #000;
    }
    ion-icon.buttonColor{
        // color: white;
        color:lightgray;
    }
    
    p.artist{
        color: white;
        font-size: 10pt !important; 
        display: inline;
        font-weight: 200;
        opacity: 0.7;
    }

    div.song{
        color: white;
        font-size: 10pt !important;
        font-weight: 200;
    }

    img.imgicon{
        width: 23px;
        height: 23px;
    }

    ion-searchbar{
         color: white;
     }

     .searchCamera{
         display: flex ;
     }

     .toolbar .searchbar-ios .searchbar-input .input-placeholder {
        background: #000;
    }

    .toolbar .searchbar .searchbar-input {
        color:black;
        background: #ffffff;
    }

    .toolbar .searchbar .searchbar-search-icon {
        color: #000000;
        background-image: url('../search.png');
    }

    .searchbar-ios .searchbar-input {
        @include placeholder($searchbar-ios-input-placeholder-color);
    }

}