page-setting {
        .ion-content{
            background-color: black;
            color: white;
            
        }
        .opacity{
            opacity: 0.99;
        
        }

        .buttonLogout{
            font-weight: bold;
            background-color: white;
            color: black;
            width: 50%;
        }
        
    }

    
