page-setting {
        .ion-content{
            background-color: black;
            color: white;
            
        }
        .opacity{
            opacity: 0.99;
        
        }
        
    }

    
