page-modals-song {
    div.artist{
        text-align: center;
        font-size: 12px !important;
        margin-top: -30px;
        margin-bottom: -10px;
    }
    p.artist{
        margin-top: 3px;
        font-size: 16px
    }

    
    
}
