page-share {
    .background{
        background-color: black;
        color: white;
    }

    ion-icon.buttonColor{
        color: white;
    }
    .toolbar-ios {
        padding: 4px;
        min-height: 44px;
        padding-top: 18px;
    }
    p.ptitle {
        font-weight: 500;
        padding-top: 8%;
    }
    ion-title.title{
        text-align: center;
    }
}
